* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face{
  font-family: "Sean";
  src: url("/SEAN-D.TTF");
}
html{
    font-size: 62.5%;
}
body{
    background-color:rgb(170, 108, 57);
    width: 100vw;
    height: 100vh;
}
main{
    padding: 1.5rem;
    border-radius: 1rem;
    margin-top: auto;
    margin-left: 1.5rem;
    width: 97.5%;
    min-height: 50rem;
    background-color: rgb(170, 151, 57);
    box-shadow: 0rem 0rem 1rem white, 0rem 0rem 1rem white, -0rem 0rem 1rem white, 0rem -0rem 1rem white;
}
ol{
    list-style: none;
}
ol > li{
    display: flex;
}
.Barra_sup{
    position: static;
    width: 100%;
    display: inline-flex;
    padding: 1rem;
    min-height: 9rem;
}
.Barra_sup div{
    font-family: Sean;
    position: relative;
    display: inherit;
    text-shadow: -0.15rem -0.15rem 0.1rem white, 0.1rem 0.15rem 0.15rem white, -0.1rem 0.1rem 0.1rem white, 0.15rem -0.15rem 0.1rem white;
}
.Barra_sup h1{
    font-size: 3rem;
    padding: 1rem;
    padding-top: 2rem;
    margin-block: 0;
    margin-inline: 0;
}
.Barra_sup img{
    position: relative;
    display: inherit;
    justify-content: initial;
    height: 7rem;
}
nav{
    display: inline-block;
    position: relative;
    margin: 1rem 0 0 auto;
}
.Barra_nav{
    list-style: none;
    margin-block: 0;
    margin-inline: 0;
    padding-inline-start: 0;
    margin-bottom: 1rem;
}
.Nav_Item p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    padding: 0.8rem;
    background-color: rgb(170, 132, 57);
    text-decoration: none;
    color: rgb(21, 36, 121);
    border-radius: 1.5rem;
    font-weight: 900;
    -webkit-text-stroke: 0.05rem white
    
}
.Barra_sup>nav{
    margin-top: 0;
}
.Nav_Item{
    display: inline-block;
    padding: 0.7rem;
    margin: 0.5rem;
}
footer p{
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}
.poderes{
    display: inline-block;
    width: 44rem;
    position: relative;
}
.poderes li{
    background-color: rgb(170, 132, 57);
    vertical-align:auto;
    display: inline-flex;
    height: 6rem;
    width: 20rem;
    margin: 0.3rem;
    padding: 1rem;
    box-shadow: 0rem 0rem 0.1rem white, 0rem 0rem 0.1rem white, -0rem 0rem 0.3rem white, 0rem -0rem 0.3rem white;
    border-radius: 1rem;
    padding-bottom: 0.4rem;
    margin-top: 6.2rem;
    margin-left: 1rem;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
}
.poderes li>p{
    font-size: 1.7rem;
    font-family: Sean;
    text-shadow: -0.15rem -0.15rem 0.1rem white, 0.1rem 0.15rem 0.15rem white, -0.1rem 0.1rem 0.1rem white, 0.15rem -0.15rem 0.1rem white;
    color: rgb(0);
    position: absolute;
    z-index: 10;
}
.poderes li>img{
    margin-left: 4rem;
    position: absolute;
    height: 11.8rem;
}
.poderes>a{
    padding: 0.1;
    margin-top: 0.8rem;
    border-radius: 100rem;
    display: inline-flex;
    z-index: 0;
}
.poderes li>b{
    color: rgb(21, 36, 121);
    padding-bottom: 2rem;
    font-family: Sean;
    text-decoration: none;
    margin-bottom: 1rem;
    font-size: 9rem;
    position:relative;
    z-index: 3;
    -webkit-text-stroke: 0.05rem white;
}
.Principal{
    display: inline-block;
    padding: 2rem;
    height: 50rem;
    position: relative;
    
}
.Principal h2{
    display: inline-block;
    font-size: 4.5rem;
    color: rgb(21, 36, 121);
    -webkit-text-stroke: 0.05rem white;
    font-family: Sean;
}
.Principal img{
    display: inline;
    height: 46.5rem;
}
.Principal p{
    display:inline-block;
    margin-top: 3rem;
    font-size: 2rem;
}
.Principal>div{
    display: inline-block;
    width: 30rem;
    height: 40rem;
}
.poderes a:hover{
    position:relative;
    z-index: 1;
    border-radius: 200rem;
    display:inline-flex;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0rem 0rem 0.4rem white, 0rem 0rem 0.4rem white, -0rem 0rem 0.4rem white, 0rem -0rem 0.4rem white;
}

.poderes img:hover{
    margin-left: 3rem;
    height: 13rem;
}
.Barra_nav .Nav_Item p:hover{
    background-color: rgb(21, 36, 121);
    color: rgb(170, 132, 57);
}

footer{
    margin-top: 0.5rem;
}